.assess_head{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 32rpx;
		image{
			width: 22rpx;
			height: 40rpx;
		}
		text:nth-child(2){
			font-size:46rpx;
			font-weight:500;
			color:rgba(25,25,25,1);
			line-height:64rpx;
		}
		text:nth-child(3){
			font-size:34rpx;
			color:rgba(25,25,25,1);
			line-height:48rpx;
		}
	}
	
	.issue_t{
		padding-left:32rpx;
		background: #ffffff;
		margin-bottom: 30rpx;
		.t_area{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 20rpx 0;
			border-bottom: 2rpx solid #F5F5F5;
			.area_l{
				text{
					font-size:34rpx;
					color:rgba(102,102,102,1);
					line-height:48rpx;
				}
			}
			.area_r{
				display: flex;
				align-items: center;
				margin-right: 32rpx;
				input{
					text-align: right;
				}
				image{
					margin-left: 10rpx;
					width: 16rpx;
					height: 30rpx;
					
				}
			}
		}
		.t_rent{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 20rpx 0;
			border-bottom: 2rpx solid #F5F5F5;
			.rent_l{
				text{
					font-size:34rpx;
					color:rgba(102,102,102,1);
					line-height:48rpx;
				}
			}
			.rent_r{
				display: flex;
				align-items: center;
				margin-right: 32rpx;
				input{
					
					text-align: right;
				}
				image{
					margin-left: 10rpx;
					width: 32rpx;
					height: 34rpx;
				}
			}
		}
		.t_all{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 20rpx 0;
			border-bottom: 2rpx solid #F5F5F5;
			.all_l{
				text{
					font-size:34rpx;
					color:rgba(102,102,102,1);
					line-height:48rpx;
				}
			}
			.all_r{
				margin-right: 32rpx;
				display: flex;
				align-items: center;
				justify-content: center;
				input{
					width: 120rpx;
					text-align: right;
					font-size:34rpx;
					color:rgba(25,25,25,1);
					line-height:48rpx;
				}
				text{
					font-size:34rpx;
					color:rgba(25,25,25,1);
					line-height:48rpx;
				}
				image{
					margin-left: 10rpx;
					width: 32rpx;
					height: 34rpx;
				}
			}
		}
	}
	
	.assess_c{
		padding: 0 32rpx;
		.c_txt{
			text{
				font-size:26rpx;
				color:rgba(153,153,153,1);
				line-height:36rpx;
			}
		}
		.c_list{
			.list_txt{
				text{
					font-size:34rpx;
					color:rgba(25,25,25,1);
					line-height:48rpx;
				}
			}
			.list_tab{
					display: flex;
					justify-content: space-between;
				text{
					width:156rpx;
					height:60rpx;
					background:rgba(255,255,255,1);
					border-radius:30rpx;
					border:2rpx solid rgba(238,238,238,1);
					text-align: center;
					font-size:26rpx;
					color:rgba(25,25,25,1);
					line-height:60rpx;
				}
			}
		}
		.c_btn{
			text-align: center;
				height:90rpx;
				background:linear-gradient(225deg,rgba(245,102,7,1) 0%,rgba(247,156,0,1) 100%);
				border-radius:45rpx;
			text{
				font-size:34rpx;
				color:rgba(255,255,255,1);
				line-height:90rpx;
			}
		}
	}